:root {
  --page-max-width: 750px;
}

* {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.save-button-section {
  display: flex;
  justify-content: center; 
}

.save-button-section__button {
  width: 100px;
  margin-top: 50px;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
}

.delete-button-section{
  display: flex;
  justify-content: flex-end;
}

.form {
  margin: 0 auto;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
}

.form-error{
  color: red; 
}

.header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  height: 50px;
}

.header__nav {
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-decoration: underline;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 20px;
  min-width: 100px;
  white-space: nowrap;
}

.header__user-link-container {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
}

.header__user-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  margin-left: 25px;
  white-space: nowrap;
}

.header__user-link:hover {
  cursor: pointer;
}

.header__user-link_sign-in {
  background-color: white;
  color: black;
}

.header__user-link_sign-out {
  background-color: black;
  color: white;
}

.home-page {

}

.home-page__h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.home-page__h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.home-page__hero-image {
  min-height: 250px;
  background-color: lightgray;
}

.home-page__container {
  margin-top: 50px;
  border: 10px 20px solid blue; 
  padding: 10px; 
  border-style: ridge; 
  border-top: 5px solid black; 
  border-radius: 10px; 
  box-shadow: 3px 3px 3px darkgray; 
}

.home-page__promo-image {
  margin: 0 auto; 
  min-height: 125px;
  width: 200px; 
  background-color: lightgray;
}

.home-page__text {
  text-align: center;
  margin: 25px; 
  font-size: 28px; 
}

.home-page__text:nth-of-type(2) {
  margin-bottom: 25px;
}

.home-page__user-link_register {
  margin: 20px auto;
  line-height: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
  background-color: black;
  display: block;
  text-align: center;
}


.input-section {
  margin: 0 auto;
  width: 85%;
  padding: 10px 0px;
}

.input-section__error{
  border: 1px solid red; 
}

.input-section__input{
  width: 100%;
  border: 1px solid gray;
}

.input-section__input_radio{
  display: flex;
  justify-content: space-around;
  border: none; 
}

.input-section__radio-container{
  margin-right: auto;
}

.input-section__label{
  display: block;
  font-weight: bold;
}

.main {
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  margin: 25px auto;
  padding: 10px;
}

.pl-fieldset {
  margin-bottom: 25px;
}

.pl-fieldset__item-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 5px 0px;
  color: black;
  text-decoration: none;
  border: 1px solid lightgray;  
}

.pl-fieldset__item-container:hover {
  cursor: pointer;
  background-color: darkgray;
}

.pl-fieldset__item-container_total {
  background-color: black;
  color: white;
}

.pl-fieldset__item-container_total:hover {
  cursor: default;
  background-color: black;
}

.pl-fieldset__item-text {
  padding-left: 5px;
  white-space: nowrap;
}

.pl-legend {
  padding-left: 5px;
}


.schedule-add {
  display: none;
  margin: 0 auto;
}

.schedule-row__cell {
  border: 1px solid black;
  height: 75px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black; 
  text-decoration: none; 
}

.schedule-row__cell:hover {
  background-color: lightgray;
  cursor: pointer;
}

.schedule-row__cell_days {
  text-align: center;
}

.schedule-row__cell_blank:hover .schedule-add {
  display: block;
  cursor: pointer;
}

.schedule-department {
  grid-column: 1 / -1;
  background-color: lightgray;
}

.schedule-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.schedule-row_days {
  position: sticky;
  top: 50px;
  background-color: white;
}

.schedule-text_department {
  text-align: left;
}

.schedule-text_shift {
  font-size: 10px;
  text-align: left;
  overflow: hidden;
}

.toggle-container { 
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-gap: 10px;
}

.toggle-container_3-col{
  display: flex; 
}

.toggle-container__input {
  display: none;
}

.toggle-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  transition: 0.4s;
  border-radius: 5px;
  border: 5px solid gray;
  color: gray;
  font-size: 21px;
  margin-left: 10px; 
}

.toggle-container__box:hover {
  cursor: pointer;
}

.toggle-container__input:checked + .toggle-container__box {
  background-color: lightgray;
  border: 5px solid lightgray;
  color: black;
}

@media only screen and (min-width: 600px) {
  .input-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
  }

  .home-page__hero-image{
    height: 400px; 
  }
  .home-page__promo-image{
    height: 250px; 
    width: 300px; 
  }
}
