:root {
  --page-max-width: 750px;
}

* {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.save-button-section {
  display: flex;
  justify-content: center; 
}

.save-button-section__button {
  width: 100px;
  margin-top: 50px;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
}

.delete-button-section{
  display: flex;
  justify-content: flex-end;
}

.form {
  margin: 0 auto;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
}

.form-error{
  color: red; 
}

.header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  height: 50px;
}

.header__nav {
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-decoration: underline;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 20px;
  min-width: 100px;
  white-space: nowrap;
}

.header__user-link-container {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
}

.header__user-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  margin-left: 25px;
  white-space: nowrap;
}

.header__user-link:hover {
  cursor: pointer;
}

.header__user-link_sign-in {
  background-color: white;
  color: black;
}

.header__user-link_sign-out {
  background-color: black;
  color: white;
}

.input-section {
  margin: 0 auto;
  width: 85%;
  padding: 10px 0px;
}

.input-section__error{
  border: 1px solid red; 
}

.input-section__input{
  width: 100%;
  border: 1px solid gray;
}

.input-section__input_radio{
  display: flex;
  justify-content: space-around;
  border: none; 
}

.input-section__radio-container{
  margin-right: auto;
}

.input-section__label{
  display: block;
  font-weight: bold;
}

.main {
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  margin: 25px auto;
  padding: 10px;
}

.pl-fieldset {
  margin-bottom: 25px;
}

.pl-fieldset__item-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 5px 0px;
  color: black;
  text-decoration: none;
  border: 1px solid lightgray;  
}

.pl-fieldset__item-container:hover {
  cursor: pointer;
  background-color: darkgray;
}

.pl-fieldset__item-container_total {
  background-color: black;
  color: white;
}

.pl-fieldset__item-container_total:hover {
  cursor: default;
  background-color: black;
}

.pl-fieldset__item-text {
  padding-left: 5px;
  white-space: nowrap;
}

.pl-legend {
  padding-left: 5px;
}


.toggle-container { 
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-gap: 10px;
}

.toggle-container_3-col{
  display: flex; 
}

.toggle-container__input {
  display: none;
}

.toggle-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  transition: 0.4s;
  border-radius: 5px;
  border: 5px solid gray;
  color: gray;
  font-size: 21px;
  margin-left: 10px; 
}

.toggle-container__box:hover {
  cursor: pointer;
}

.toggle-container__input:checked + .toggle-container__box {
  background-color: lightgray;
  border: 5px solid lightgray;
  color: black;
}

@media only screen and (min-width: 600px) {
  .input-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
  }
}
