:root {
  --page-max-width: 750px;
}

* {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.save-button-section {
  display: flex;
  justify-content: center;
}

.save-button-section__button {
  width: 100px;
  height: 33px;
  margin-top: 25px;
  font-size: 21px;
  background-color: white;
  font-weight: bold;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 2px darkgrey;
}

.save-button-section__button:hover {
  box-shadow: none;
  background-color: whitesmoke;
}

button:focus {
  outline: 3px solid darkgray;
}

.button:hover {
  cursor: pointer;
}

.delete-button-section {
  display: flex;
  justify-content: flex-end;
}

.delete-button-section__button {
  color: red;
  font-size: 18px;
  background-color: white;
  font-weight: bold;
  border: 1px solid darkgray;
  box-shadow: 2px 1px 1px darkgrey;
  padding: 10px;
  margin-top: 5px;
}

.delete-button-section__button:hover {
  box-shadow: none;
  color: white;
  background-color: red;
}

.departments__link {
  text-decoration: none;
  display: block;
  color: black;
  border: 1px solid lightgray;
  margin: 5px 0px;
}

.departments__link:hover {
  cursor: pointer;
  background-color: darkgray;
}

.empty-list {
}

.empty-list__text {
  text-align: center;
}

.empty-list__link-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.empty-list__link {
  width: 250px;
  height: 33px;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 2px darkgrey;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.empty-list__link:hover {
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: none;
}

.error {
  border: 1px solid gray;
  width: 250px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 5px;
  font-size: 21px;
  padding: 25px;
  box-shadow: 5px 5px 5px;
}

.fieldset {
  margin: 20px 0px 50px 0px;
  box-shadow: 5px 5px 5px darkgrey;
  border-top: 2px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  border-right: 5px solid whitesmoke;
  border-left: 3px solid whitesmoke;
  border-radius: 20px;
}

.fieldset__weekly-total {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px;
  position: sticky;
  top: 50px;
  padding: 20px 0px;
  background-color: white;
  font-weight: bold;
}

.fieldset__weekly-total div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldset_form {
}

.fieldset__amount {
}

.fieldset__container {
  padding: 10px;
}

.fieldset__item-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
  box-shadow: 2px 2px 2px darkgrey;
}

.fieldset__amount-container {
  display: grid;
  grid-template-columns: 12px 10px 10px 10px 5px 10px 10px 10px 5px 10px 10px 10px 5px 10px 10px;
}

.fieldset__item-container:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgrey;
}

.fieldset__item-container_total {
  background-color: slategray;
  color: white;
}

.fieldset__item-container_kpi {
  background-color: black;
  color: white;
}

.fieldset__item-container_kpi:hover {
  background-color: black;
  cursor: default;
  box-shadow: none;
}

.fieldset__item-container_total:hover {
  cursor: default;
  background-color: slategray;
  box-shadow: none;
}

.fieldset__item-text {
  padding-left: 5px;
  white-space: nowrap;
}

.fieldset__legend {
  padding-left: 5px;
}

.skeleton-card {
  box-shadow: 0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 80%;
  margin: 50px auto;
}

.skeleton-card__comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.skeleton-card__animate {
  animation: shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.form {
  padding: 0px 10px;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
}

.form_shift__weekly-total {
  padding: 10px;
}

.form-error {
  color: red;
  margin-top: 5px;
}

.header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 1;
}

.header__button-container {
  padding-left: 5px;
}

.header__button-container_hamburger {
}

.header__button-container_new-button {
}

.header__button_authenticate {
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
  font-weight: 700;
  border: 1px ridge #d3d3d3;
  border-right: none;
  border-bottom: none;
  margin: 0px 15px;
}

.header__display-mobile-none {
  display: none;
}

.header__menu-button_hamburger {
  float: right;
  width: 50px;
  height: 45px;
  background-color: black;
  transform: rotate(0deg);
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
}

.header__item-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.header__item-container_not-authenticated {
  flex-direction: row;
  margin-left: auto;
}

.header__item-container_right {
  margin-left: auto;
}

.header__item-container_row {
  display: none;
}

.header__item {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__item_row {
  height: 30px;
  color: white;
  background-color: black;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  margin-left: 15px;
  white-space: nowrap;
}

.header__item_row:hover {
  cursor: pointer;
}

.header__item_dropdown {
  display: block;
  text-decoration: none;
  padding: 20px 5px;
  margin-left: 50px;
  width: 250px;
  margin: 0px auto;
  font-size: 21px;
}

.header__item_dropdown:hover {
  text-decoration: underline;
}

.header__logout-button {
  margin: 100px auto;
  width: 250px;
  height: 50px;
  display: block;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.header__menu-button_hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  left: 0;
  transform: rotate(0deg);
  transition: 0.1s ease-in-out;
}

.header__menu-button_hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.header__menu-button_hamburger span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}

.header__menu-button_hamburger span:nth-child(3) {
  top: 24px;
  transform-origin: left center;
}

.header__menu-button_hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  left: 8px;
}

.header__menu-button_hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header__menu-button_hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 35px;
  left: 8px;
}

.header__menu-button {
  background-color: black;
  border: none;
}

.header__menu-button:hover {
  cursor: pointer;
}

.header__menu-button_new {
  width: 75px;
  height: 40px;
  border-radius: 5px;
  font-size: 36px;
  background-color: white;
  font-weight: bold;
  border: none;
  border-top: 1px ridge lightgray;
  border-left: 1px ridge lightgray;
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-button_main {
}

.header__menu-button_right {
  margin-left: auto;
}

.header__menu_drop-down {
  padding-top: 25px;
  background-color: black;
  box-shadow: 5px 5px 1px darkgrey;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.header__menu_drop-down-content {
}

.header__nav {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.header__nav-authenticated {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.header__nav_not-authenticated {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__new-menu-button:focus {
}

.header__new-menu-button:hover {
  color: white;
  background-color: black;
}

.header__section_menu {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
}

.header__title {
  text-decoration: underline;
  font-size: 24px;
  margin-left: 20px;
  white-space: nowrap;
  margin-top: 5px;
  color: white;
}

.home-page {
  padding: 10px;
}

.home-page__h2 {
  font-size: 32px;
  text-align: center;
}

.home-page__h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.home-page__hero-image {
  min-height: 250px;
  background-color: lightgray;
}

.home-page__container {
  margin-top: 50px;
  padding: 10px;
  border-style: ridge;
  border-top: 5px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px darkgray;
}

.home-page__promo-image {
  margin: 0 auto;
  min-height: 125px;
  width: 200px;
  background-color: lightgray;
}

.home-page__text {
  text-align: center;
  margin: 25px;
  font-size: 16px;
}

.home-page__text:nth-of-type(2) {
  margin-bottom: 25px;
}

.home-page__user-link_authentication {
  display: block;
  margin: 5px auto;
  padding: 5px;
  width: 150px;
  font-size: 21px;
  margin-top: 5px;
  color: white;
  background-color: black;
}

.home-page__user-link_authentication:hover {
  cursor: pointer;
}

.form-section {
  margin: 0 auto;
  padding: 10px 0px;
  align-items: center;
}

.form-section__error {
  border: 1px solid red;
}

.form-section__input-container {
  background-color: white;
}

.form-section__input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 1px lightgrey;
  background-color: white;
}

.form-section__input:hover {
  cursor: pointer;
}

.form-section__input:focus {
  outline: 3px solid darkgray;
}

.form-section__input_radio {
  display: flex;
  justify-content: space-between;
  border: none;
  box-shadow: none;
}

.form-section__radio-container {
}

.form-section__shift-total {
  max-width: 500px;
  margin: 0 auto;
  font-weight: bold;
  border: none;
  border: 2px solid darkgray;
  box-shadow: 3px 3px 1px lightgrey;
  position: sticky;
  top: 55px;
  margin-top: 10px;
}

.form-section__shift-total-text {
  font-size: 18px;
}

.form-section__shift-total button {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.form-section__shift-total button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgrey;
}

.form-section__shift-total button:focus {
  outline: 3px solid darkgray;
  background-color: none;
}

.form-section__label {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.main {
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  margin: 0px auto;
  padding-bottom: 50px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modal__button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.modal__button {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  box-shadow: 3px 3px 1px lightgrey;
  font-size: 21px;
  font-weight: bold;
}

.modal__button:hover {
  cursor: pointer;
  box-shadow: none;
}

.modal__button_confirm {
  background-color: red;
  color: white;
}

.modal__button_cancel:hover {
  background-color: whitesmoke;
}

.modal__content {
  background-color: #fefefe;
  margin-top: 75px;
  width: 325px;
  height: 250px;
  border-radius: 5px;
}

.modal__close {
  display: flex;
}

.modal__close-button {
  margin-left: auto;
  font-size: 42px;
  background-color: white;
  color: red;
  border: none;
}

.modal__close-button:hover,
.modal__close-button:focus {
  cursor: pointer;
}

.modal__text {
  display: flex;
  justify-content: center;
  font-size: 21px;
}

.pnl__header-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.roles-list-item__department {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
  font-weight: bold;
}

.roles-list-item__container {
  margin-left: 25px;
}

.schedule-department {
  grid-column: 1/-1;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
}

.schedule__header {
  padding: 5px;
  position: sticky;
  top: 60px;
  background-color: white;
}

.schedule__total-wages {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.schedule__total-wages button {
  width: 300px;
  margin: 5px 0px;
  color: black;
  text-decoration: none;
  padding: 10px;
  border: none;
  background-color: white;
  border: none;
  background-color: white;
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  box-shadow: 3px 3px 1px lightgrey;
}

.schedule__total-wages button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgrey;
}

.schedule__total-wages button:focus {
  outline: 3px solid darkgray;
  background-color: none;
}

.schedule__holder {
  padding: 0px 5px;
}

.schedule-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.schedule-row_role-container {
  border-top: 1px ridge lightgray;
  border-left: 1px ridge lightgray;
  box-shadow: 1px 1px 1px darkgrey;
  margin-bottom: 5px;
}

.schedule-row_role {
  text-decoration: none;
}

.schedule-row_role:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgrey;
}

.schedule-row__cell {
  border: 1px solid gainsboro;
  height: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.schedule-row__cell_days {
  text-align: center;
}

.schedule-row_days {
  position: sticky;
  top: 50px;
  background-color: white;
}

.schedule-row_weekdays {
  position: sticky;
  top: 50px;
  background-color: white;
  padding: 10px 0px;
}

.schedule-row_weekdays__weekday {
  text-align: center;
}

.schedule-text_department {
  text-align: left;
}

.schedule-text_shift {
  font-size: 9px;
  text-align: left;
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toggle-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  grid-gap: 4px;
}

.toggle-container__input {
  display: none;
}

.toggle-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.4s;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  font-size: 18px;
  margin: 0px;
}

.toggle-container__box_amount-type {
  width: 100px;
}

.toggle-container__box:hover {
  cursor: pointer;
}

.toggle-container__input:checked + .toggle-container__box {
  background-color: lightgray;
  border: 5px solid lightgray;
  color: black;
}

@media only screen and (min-width: 600px) {
  .form {
    margin: 20px auto;
  }

  .header__menu_drop-down {
    height: 250px;
    width: 150px;
    position: relative;
    top: 0;
  }

  .header__item-container_row {
    display: block;
  }

  .header__logout-button {
    margin: 10px auto;
    width: 100px;
    display: block;
    padding: 5px;
  }

  .home-page__hero-image {
    height: 400px;
  }

  .home-page__promo-image {
    height: 250px;
    width: 300px;
  }

  .header__nav-authenticated {
    display: grid;
    grid-template-columns: 3fr 6fr 2fr;
  }

  .header__items-container {
    display: flex;
    justify-content: space-around;
  }

  .header__item_button-container {
    display: block;
    margin: 5px 5px 0px auto;
  }

  .header__item-div {
    display: block;
    margin-top: 10px;
  }

  .header__button-container_hamburger {
    display: none;
  }

  .delete-button-section {
    margin-bottom: 0px;
  }

  .form-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 500px;
  }

  .schedule-text_shift {
    font-size: 11px;
  }
}
